<title> <% title %> </title>

<h1>  <% title %> </h1>

<%- messages() %>

<body> 
    <h2>Actions:</h2>
    <div class="actions-container">
        <a href="/inv/add-classification" class="action-button">Add Classification</a>
        <a href="/inv/add-inventory" class="action-button">Add Inventory</a>
    </div>
</body>